  
@media screen and (max-width: 480px) {

    /* 480px以下に適用されるCSS（スマホ用） */
    html,
    body {

        font-family: tbnpgothic-std, serif;
        font-weight: 500;
        font-style: normal;
        width: 100%;

    }

    .image1 {
        background-image: url("../img/S__3473418.jpg");
        background-size: cover;
        background-position: center center;
        width: 98%;
        height: 250px;
        margin: 0 auto;
        text-align: center;
    }

    .title {
        font-size: 30px;
        margin: 0px;
        padding: 0px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    
.gnav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    z-index: 99999;
    right: 50px;
    top: 20px;

}

.gnav_menu {
    color: white;
    margin: 5px;
    padding: 5px;
    list-style: none;
    background: linear-gradient(86.13deg, #f7b870 -3.42%, #d9773e 59.59%);
    /* バナーの背景色 */
}

}